<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:00</td>  <td>Welcome, Setup and Code of Conduct</td> </tr>
      <tr> <td>09:10</td>  <td>Introducing the Unix Shell</td> </tr>
      <tr> <td>09:15</td>  <td>Navigating Files & Directories</td> </tr>
      <tr> <td>10:00</td>  <td>Break</td> </tr>
      <tr> <td>10:15</td>  <td>Working with Files & Directories</td> </tr>
      <tr> <td>11:05</td>  <td>Pipes & Filters</td> </tr>
      <tr> <td>11:30</td>  <td>Break</td> </tr>
      <tr> <td>11:45</td>  <td>Pipes & Filters (Continued)</td> </tr>
      <tr> <td>11:55</td>  <td>Loops</td> </tr>
      <tr> <td>12:20</td>  <td>Additional Features, Wrap-up and Minute Card</td> </tr>
      <tr> <td>12:30</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:30</td>  <td>Automated Version Control</td> </tr>
      <tr> <td>13:35</td>  <td>Setting Up Git</td> </tr>
      <tr> <td>13:40</td>  <td>Creating a Repository</td> </tr>
      <tr> <td>14:00</td>  <td>Tracking Changes</td> </tr>
      <tr> <td>14:30</td>  <td>Break</td> </tr>
      <tr> <td>14:45</td>  <td>Exploring History</td> </tr>
      <tr> <td>15:15</td>  <td>Ignoring Things</td> </tr>
      <tr> <td>15:20</td>  <td>Remotes in GitHub</td> </tr>
      <tr> <td>15:45</td>  <td>Break</td> </tr>
      <tr> <td>16:00</td>  <td>Remotes in GitHub (continued)</td> </tr>
      <tr> <td>16:20</td>  <td>Collaborating</td> </tr>
      <tr> <td>16:40</td>  <td>Conflicts</td> </tr>
      <tr> <td>16:50</td>  <td>Wrap-up, Minute Cards, and Day 2 Setup</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Day 2 Welcome and R/RStudio Setup</td> </tr>
      <tr> <td>09:15</td>  <td>Analyzing Patient Data</td> </tr>
      <tr> <td>10:00</td>  <td>Break</td> </tr>
      <tr> <td>10:15</td>  <td>Creating Functions</td> </tr>
      <tr> <td>10:45</td>  <td>Analyzing Multiple Data Sets</td> </tr>
      <tr> <td>11:15</td>  <td>Making Choices</td> </tr>
      <tr> <td>11:30</td>  <td>Break</td> </tr>
      <tr> <td>11:45</td>  <td>Making Choices (continued)</td> </tr>
      <tr> <td>12:00</td>  <td>Addressing Data</td> </tr>
      <tr> <td>12:20</td>  <td>Morning Wrap-up and Minute Cards</td> </tr>
      <tr> <td>12:30</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:30</td>  <td>Reading and Writing CSV Files</td> </tr>
      <tr> <td>14:00</td>  <td>Understanding Factors</td> </tr>
      <tr> <td>14:30</td>  <td>Break</td> </tr>
      <tr> <td>14:45</td>  <td>Data Types and Structures</td> </tr>
      <tr> <td>15:45</td>  <td>Break</td> </tr>
      <tr> <td>16:00</td>  <td>The Call Stack</td> </tr>
      <tr> <td>16:15</td>  <td>Loops in R</td> </tr>
      <tr> <td>16:30</td>  <td>Wrap-up - Where to learn more and get help</td> </tr>
      <tr> <td>16:50</td>  <td><a href={{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-Workshop Survey</a></td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
